<body>
  <header>わたしのつぶやき</header>
  <article>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td class = btn><%= link_to "edit", edit_post_path(post.id) %></td>
        <td class = btn><%= link_to "delete", post_path(post.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }%></td>
      </tr>
      <br>
    <% end %>
    <p><%= link_to 'つぶやく', new_post_path %></p>
  </article>
</body>

