body {
  background-color:lightpink;
  color:aliceblue;
  font-size: 1.9rem;
  line-height: 2.5rem;
  text-align: center;
  margin:0 auto;
}

a {
  text-decoration: none;
  color:lightslategray;
  font-size: 1rem;
}

.form{
  font-size: 1.9rem;
  line-height: 2.5rem;
}

header{
  font-size: 1.9rem;
}
